mo69_diplom/acts/schemas/ks3_schema.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.nalog.ru/edocs/ks3"
           targetNamespace="http://www.nalog.ru/edocs/ks3"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Корневой элемент -->
    <xs:element name="Файл">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Документ" type="ДокументТип"/>
            </xs:sequence>
            <xs:attribute name="ИдФайл" type="ИдФайлТип" use="required"/>
            <xs:attribute name="ВерсПрог" type="xs:string" use="required"/>
            <xs:attribute name="ВерсФорм" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Тип документа -->
    <xs:complexType name="ДокументТип">
        <xs:sequence>
            <xs:element name="КНД" type="КНДТип"/>
            <xs:element name="ДатаИнфПодр" type="ДатаТип"/>
            <xs:element name="ВремИнфПодр" type="ВремяТип"/>
            <xs:element name="НаимЭкСубСост" type="xs:string"/>
            <xs:element name="СвСправка" type="СвСправкаТип"/>
            <xs:element name="НаимИСт" type="НаимИСтТип" maxOccurs="unbounded"/>
            <xs:element name="НастрФормДок" type="НастрФормДокТип" minOccurs="0"/>
            <xs:element name="ВсегоСправкаОтч" type="ВсегоСправкаОтчТип"/>
            <xs:element name="ПодписантПодр" type="ПодписантТип"/>
            <xs:element name="ГлавБух" type="ГлавБухТип" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Сведения о справке -->
    <xs:complexType name="СвСправкаТип">
        <xs:sequence>
            <xs:element name="НомСправка" type="xs:string"/>
            <xs:element name="ДатаСправка" type="ДатаТип"/>
            <xs:element name="НаимОбъект" type="xs:string"/>
            <xs:element name="СвДоговор" type="СвДоговорТип"/>
            <xs:element name="ПериодВыполн" type="ПериодТип"/>
            <xs:element name="Заказчик" type="ЗаказчикТип"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Сведения о договоре -->
    <xs:complexType name="СвДоговорТип">
        <xs:sequence>
            <xs:element name="НомДоговор" type="xs:string"/>
            <xs:element name="ДатаДоговор" type="ДатаТип" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Период выполнения -->
    <xs:complexType name="ПериодТип">
        <xs:sequence>
            <xs:element name="ДатаНач" type="ДатаТип" minOccurs="0"/>
            <xs:element name="ДатаОкон" type="ДатаТип" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Заказчик -->
    <xs:complexType name="ЗаказчикТип">
        <xs:sequence>
            <xs:element name="НаимОрг" type="xs:string"/>
            <xs:element name="ИНН" type="ИННТип" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Элемент работы -->
    <xs:complexType name="НаимИСтТип">
        <xs:sequence>
            <xs:element name="НомПоз" type="xs:string"/>
            <xs:element name="НаимРабот" type="xs:string"/>
            <xs:element name="ЕдИзм" type="xs:string" minOccurs="0"/>
            <xs:element name="Стоимость" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Настройки формирования -->
    <xs:complexType name="НастрФормДокТип">
        <xs:sequence>
            <xs:element name="ПризнакПечать" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Итоговые суммы -->
    <xs:complexType name="ВсегоСправкаОтчТип">
        <xs:sequence>
            <xs:element name="СуммаВсего" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Подписант -->
    <xs:complexType name="ПодписантТип">
        <xs:sequence>
            <xs:element name="Должн" type="xs:string"/>
            <xs:element name="ФИОПодп" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Главный бухгалтер -->
    <xs:complexType name="ГлавБухТип">
        <xs:sequence>
            <xs:element name="ФИО" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Типы данных -->
    <xs:simpleType name="ИдФайлТип">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="144"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="КНДТип">
        <xs:restriction base="xs:string">
            <xs:pattern value="1110336"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ДатаТип">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[0-2])\.\d{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ВремяТип">
        <xs:restriction base="xs:string">
            <xs:pattern value="([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ИННТип">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{10}|\d{12}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
